<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common">
    <link rel="stylesheet" href="/css/layui.css" />
</head>
<body>
<div th:include="common/nav :: nav"></div>
<div class="layui-container">

    <div class="teachTable" style="margin-top: 15px">
        教师编号：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="teachId" autocomplete="off">
        </div>
        科目：
        <div class="layui-inline">
            <input class="layui-input" name="teachSubjects" id="teachSubjects" autocomplete="off">
        </div>
        专业：
        <div class="layui-inline">
            <input class="layui-input" name="profession" id="profession" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md8">
            <table id="teachers" class="layui-table teachers" lay-filter="teas"></table>
        </div>
    </div>
</div>
<script th:src="@{/js/layui.all.js}"></script>
<script th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/js/utils.js}"></script>
<script>
    layui.use(['layer','table'], function () {
        var table = layui.table;
        table.render({
            elem: '#teachers',
            url: '/teachers/all',
            size: 'sm',
            skin: 'line',
            cellMinWidth: 80,
            cols:[[
                {align: 'left', title: '教员信息',colspan: 7,color:'#5FB878'}
            ],
                [   {field:'id', title: '编号'
                    },
                    {field:'name', title: '姓名'
                    },
                    {field:'graduatedSchool', title: '毕业学校'
                    },
                    {field:'profession', title: '专业'},
                    {field:'selfDes', width:150,title: '自我简介'
                    },
                    {field:'teachSubjects', width:150,title: '可教授课程'
                    },
                    {field:'initDate',title: '更新时间',align: 'center',templet: function(d){
                            return dateFun(d);
                        }
                    }
                    // {fixed: 'right', align:'center', toolbar: '#barTeacher'}
                ]],
            id: 'testReload',
            page:true
        });

        // table.on('tool(tea)',function (obj) {
        //     var data = obj.data;
        //     var layEvent = obj.event;
        //     if (layEvent === 'details'){
        //         window.location.href="/teacherDetailsPage?id="+data.id
        //     }
        // });

        var $ = layui.$, active = {
            reload: function(){
                var teachId = $('#teachId');
                var teachSubjects = $('#teachSubjects');
                var profession = $('#profession');
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        // key: {
                        //     id: demoReload.val()
                        // }
                        id: teachId.val(),
                        teachSubjects:teachSubjects.val(),
                        profession:profession.val()
                    }
                });
            }
        };

        $('.teachTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
    $("table tr:first-child").css({
        background: "none",
        backgroundColor: "#155744",
        color:"#ffffff"
    });
</script>
</body>
</html>