<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common"></head>
<body>
    <div th:include="common/nav :: nav"></div>
    <div class="layui-container">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend th:text="${bean.data.get(0).id+'号家教信息'}"></legend>
        </fieldset>
        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">编  号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" th:value="${bean.data.get(0).id}"  class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).contactName}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">求教科目</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).subject}" class="layui-input" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">学生年级</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" th:value="${bean.data.get(0).grade.grade}"  class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学员性别</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).sex eq 0 ? '男':'女'}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">所在区域</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).getArea().area}" class="layui-input" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">授课地点</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).areaDes}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">时间安排</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" th:value="${bean.data.get(0).classTime}"  class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">对教员性别要求</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).reqTeaSex gt 1 ? '男女均可':(bean.data.get(0).reqTeaSex eq 0?'男':'女')}" class="layui-input" disabled>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">薪资待遇</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).pay}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">家教状态</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" th:value="${bean.data.get(0).state eq 2?'已经签约':(bean.data.get(0).state eq 0?'新家教':'正在试讲')}"  class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">发布时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).initDate}" class="layui-input" disabled>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item" >
                        <label class="layui-form-label">学员状况</label>
                        <div class="layui-input-block" style="width: 840px">
                            <input type="text" name="identity" th:value="${bean.data.get(0).studentDes}" class="layui-input" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item" >
                        <label class="layui-form-label">对教员要求</label>
                        <div class="layui-input-block" style="width: 840px">
                            <input type="text" name="identity" th:value="${bean.data.get(0).reqTeaDes}" class="layui-input" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">预约人数</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${bean.data.get(0).getTeachers().size()}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" th:value="${bean.data.get(0).mobilePhone}"  class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即预约</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-md12">
                <table id="teaSelectThis" class="layui-table" lay-filter="teaSelectThis">
                    <thead>
                        <tr>
                            <th colspan=4 style="text-align: center">已预约（应聘）此家教的老师列表</th>
                        </tr>
                        <tr>
                            <th>教师编号</th>
                            <th>姓名</th>
                            <th>就读、毕业学校、专业、目前身份</th>
                            <th>预约(应聘)时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:remove="${bean.data.get(0).getTeachers().size() eq 0}? none : all">
                            <th colspan=4 style="text-align: center">暂时没有教员接单，有把握的老师先预约吧！</th>
                        </tr>
                        <tr th:each="tea:${bean.data.get(0).getTeachers()}" th:remove="${bean.data.get(0).getTeachers().size() eq 0}? all : none">
                           <td th:text="${tea.id}"></td>
                           <td th:text="${tea.name.split('')[0]}+'老师'"></td>
                           <td th:text="${tea.graduatedSchool+'、'+tea.profession+'、'+tea.education}"></td>
                           <td th:text="${tea.initDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:include="common/foot :: foot"></div>
    <script th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/js/layui.all.js}"></script>
    <script>
        $("table tr:first").css({
            background: "none",
            backgroundColor: "#0ba936",
            color:"#ffffff"
        });
    </script>

</body>
</html>