<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/layui.css}"/>

</head>
<body>

    <ul class="layui-nav layui-bg-molv" lay-filter="">
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item layui-this"><a href="">请老师</a></li>
        <li class="layui-nav-item"><a href="">做老师</a></li>
        <li class="layui-nav-item"><a href="">教员库</a></li>
        <li class="layui-nav-item"><a href="">学员库</a></li>
    </ul>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-md8">
                <table id="student" class="layui-table"></table>
            </div>
        </div>
    </div>
    <script th:src="@{/js/layui.all.js}"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#student',
                url: '/students',
                cols:[[
                    {field:'grade',width:120, title: '年级',templet: function(d){
                            return d.grade.grade
                        }
                    },
                    {field:'sex', width:120, title: '性别'
                    },
                    {field:'subjject', width:150, title: '求教科目'},
                    {field:'area', width:150, title: '授课区域',templet: function(d){
                            return d.area.area
                        }
                    },
                    {field:'initDate',title: '更新时间'}
                ]]
            });


        });

    </script>


</body>
</html>