<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common"></head>
<body>

    <div th:include="common/nav :: nav"></div>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-md8">
                <table id="student" class="layui-table"></table>
                <table id="teacher" class="layui-table"></table>
            </div>
        </div>
    </div>
    <script th:src="@{/js/layui.all.js}"></script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#student',
                url: '/students',
                size: 'sm',
                skin: 'line',
                cols:[[
                    {align: 'left', title: '<span style="color:#0bcc3d">新家教信息</span>',colspan: 5,color:'#5FB878'}
                ],
                    [
                    {field:'grade',width:120, title: '年级',templet: function(d){
                            return d.grade.grade
                        }
                    },
                    {field:'sex', width:120, title: '性别'
                    },
                    {field:'subject', width:150, title: '求教科目'},
                    {field:'area', width:150, title: '授课区域',templet: function(d){
                            return d.area.area
                        }
                    },
                    {field:'initDate',title: '更新时间'}
                ]]
            });

            table.render({
                elem: '#teacher',
                url: '/teachers',
                size: 'sm',
                skin: 'line',
                cols:[[
                    {align: 'left', title: '<span style="color:#0bcc3d">教员信息</span>',colspan: 5,color:'#5FB878'}
                ],
                    [
                        {field:'name',width:120, title: '姓名'
                        },
                        {field:'graduatedSchool', width:120, title: '毕业学校'
                        },
                        {field:'subject', width:150, title: '专业'},
                        {field:'contactAddr', width:150, title: '自我简介'
                        },
                        {field:'initDate',title: '更新时间'}
                    ]]
            });

        });

    </script>


</body>
</html>