<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common"></head>

<body>
    <div class="layui-container" style="padding-top: 150px;padding-left: 400px">
        <div class="layui-col-xs12 layui-col-md8" >
            <form class="layui-form layui-form-pane"  method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密 码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password"  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" >
                    <button style="width: 200px;margin-left: 60px" class="layui-btn" lay-submit lay-filter="*">登录</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/js/layui.js}"></script>
<script th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/utils.js}"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        form.on('submit(*)', function (data) {

            $.post("http://127.0.0.1:8080/loginHandle", data.field,
                function (data) {
                        //设置Cookie
                        setCookie(data);
                        layer.msg("登录成功", {
                            icon: 1,
                            time: 1000 //1秒关闭
                        }, function(){
                            location.href = "/index";
                        });
                }, "json");
        });
    });
</script>
</html>